### VSCode ###

# Configuration folder
.vscode/
.idea/

### Visual Studio ###

# Visual Studio user-specific files
.vs/

### Build artifacts ###
RAM-Tech-Utility.exe
*.exe

### Symbols / debug ###
winutil.pdb

### Preprocessor Hashes ###
.preprocessor_hashes.json

### Windows ###

# Folder config file
[Dd]esktop.ini

# Ignore generated XAML files
xaml/inputApp.xaml
xaml/inputFeatures.xaml
xaml/inputTweaks.xaml

# Generated runtime/build files
winutil.ps1

# Executables and configs
winget.msixbundle
pester.ps1
*.psd*
ooshutup10.cfg
winutil.exe.config
Microsoft.UI.Xaml*
license1.xml

# Libraries
System.Management.Automation.dll
Microsoft.PowerShell.ConsoleHost.dll

# Compressed files
*.zip

### macOS ###

.DS_Store

### Local test / temp ###
test.ps1

# Temporary excludes for docs
.github/site/

binary/

# Hugo files
docs/public/
docs/.hugo_build.lock
docs/resources/
